
#tools{
    position: absolute;
    z-index: 9999;
    height: 500px;
    width: 500px;
    background-color: #fff ;
    transition:0.3s;
    transform:translateX(0) ;
}
#editor{
    /* position: absolute; */
    overflow: hidden;
    z-index: 99999;
    overflow: auto  ;
    background-color: #fff 
}


